.li {
  padding-inline-start: 0;
  list-style-type: none;
  font-weight: 600;
}

.good {
  background-color: rgb(46, 80, 251);
}

.neutral {
  background-color: rgb(83, 111, 251);
}

.bad {
  background-color: rgb(84, 112, 253);
}

.total {
  background-color: rgb(102, 127, 255);
}

.feedback {
  background-color: rgb(145, 163, 255);
}
